<mat-nav-list >
    <div class="profile-card" *ngIf='!sideBarToggle'>
        <div class="header">
            <h2>Personalize</h2>
        </div>
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="viewmasterio"> -->
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item *ngFor='let route of sideMenuItemsList' (click)='navigateTo(route.path)' style="display:flex;">
        <span [class]="route.icon" style="display: flex;align-items: center;justify-content: center;"></span>
        <span *ngIf='!sideBarToggle'>{{route.title}}</span>
    </a>
</mat-nav-list>

<!-- /[ngClass]="sideBarToggle== true  ?   'collapseside' :  'expanded' "
[ngClass]="sideBarToggle== true  ?   'collapseside' :  'expanded' " -->
<!-- <nav class="main-menu" (toggleMenuEvent)="toggleMenuEvent($event)">
    <ul>
        <p style="color: white;"> {{sideBarToggle}}</p>
        <li *ngFor='let route of sideMenuItemsList'>
            <a>

                <i [class]="route.icon"></i>
                {{sideBarToggle}}
                <span class="nav-text" *ngIf='sideBarToggle' [ngClass]="sideBarToggle==true  ? 'colas' : ''">
                    {{route.title}}
                </span>
            </a>

        </li>
    </ul>
</nav> -->