<!-- <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" [style.display]="toggleMenu?'block':'none'" id="leftMenu">
  <div>
    <img src="../../assets/close.svg" class="closeIcon" (click)="toggleMenuEvent(false)" />
  </div>
  <div class="sidebar">
    <a [routerLink]="['/home']">Dashboard</a>
    <a [routerLink]="['/sites']">Sites</a>
    <a [routerLink]="['/mdustatus']">MDU Status</a>

  </div>
</div> -->
<app-header (toggleMenuEvent)="toggleMenuEvent($event)"></app-header>


<!-- <mat-drawer-container [ngClass]="showMinisidebar  ? 'fixedBarContainer':'sidebarContainer'">
  

  <mat-drawer mode="side" [opened]=true [ngClass]="showMinisidebar  ?  'fixedBar' : 'sidebar'">
    <app-sidebar [sideBarToggle]="showMinisidebar"></app-sidebar>
  </mat-drawer>

  <mat-drawer-content  [ngClass]="adjustments(showMinisidebar)">
    <router-outlet></router-outlet>
  </mat-drawer-content>


</mat-drawer-container> -->


<div [ngClass]='showMinisidebar==true ?"miniSideBar":"newsidebar"'>
  <app-sidebar [sideBarToggle]="showMinisidebar"></app-sidebar>
</div>

<div class="containerV" [ngClass]='showMinisidebar==true ?"minisidebar":"extendsidebar"'>
  <router-outlet></router-outlet>
</div>



<app-footer></app-footer>